body {
  font-family: "Roboto", sans-serif;
  background: repeating-radial-gradient(white, rgb(37, 104, 230));
}
.title {
  color: #fa672d;
  font-size: 100px;
  text-align: center;
  font-family: Blippo, fantasy;
  text-shadow: 0.1em 0.1em 0.2em black;
  text-shadow: 2px 2px white;
}
.subTitle {
  color: #fa672d;
  font-size: 50px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.inputText {
  font-size: 20px;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  width: 38%;
  padding: 10 px;
}

.nome {
  font-size: 20px;
  width: 60%;
  border-radius: 35px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(to right, orangered, orange);
  cursor: pointer;
  margin: 2px;
}
.idade {
  font-size: 20px;
  width: 20%;
  border-radius: 35px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(to right, orangered, orange);
  cursor: pointer;
  margin: 2px;
}
.tipo {
  margin-top: 3%;
  text-align: center;
  color: #fa672d;
  font-size: 35px;
  display: flex;
  justify-content: space-evenly;
}
.container2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.jogabilidade {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 0.1em 0.1em 0.2em black;
  text-shadow: 2px 2px rgb(247, 111, 21);
  color: rgb(252, 148, 13);
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 40px;
  letter-spacing: 5px;
}
.original {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: rgb(252, 148, 13);
  text-shadow: 0.1em 0.1em 0.2em black;
  letter-spacing: 4px;
  font-family: fantasy;
  font-size: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
}

.personalizada {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: rgb(252, 148, 13);
  text-shadow: 0.1em 0.1em 0.2em black;
  letter-spacing: 4px;
  font-family: fantasy;
  font-size: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
}
.containerCards {
  display: flex;
  flex-direction: row;
  padding: -10%;
  margin-top: -1%;
  justify-content: center;
  flex-wrap: wrap;
}
.containerCards img {
  margin: 15px;
  width: 150px;
  height: 150px;
  border-radius: 20%;
}

.card:hover {
  box-shadow: 0 0 1px rgb(36, 15, 224);
  border-style: double blue;
  border-radius: 20%;
}

.rounded2 {
  margin-top: -16%;
  margin-left: 75%;
  position: absolute;
  width: 290px;
}
.ocultar {
  display: none;
}
